/*includes styles for all created components in it*/
*{
    margin: 0;
    padding: 0;
    
}

@media (max-width:360px){
    .input{
        width: 250px;
    }
    .taskname{
        width: 200px;
    }
}
@media (min-width:600px){
    .input{
        width: 400px;
    }
    .taskname{
        width: 300px
    }
}
.body{
    display: flex;
    width:100vw;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
  background-image: radial-gradient(circle at center,#939697,#86aeb6);
    overflow: auto;
}

.hyphen{
    color: red;
}
.todo{
    margin: 30px;
}
.container{
    margin: 40px;
    height: 400px;
    overflow: auto;
    background-color: #a8d997;
  
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.input{
    margin: 10px;
    
    height: 30px;
    padding: 5px;
}
.taskstyle{
    display: flex;
    flex-direction: row;
    margin: 10px;
    /* border: 1px solid black;
    border-radius: 10px; */
    
  border-bottom: 4px solid rgb(0, 26, 255);

    justify-content: space-between;
    background-color: wheat;
}
.taskstyle:hover {
  background-color: #f0e5c9;
  transform: scale(1.01);
  transition: all 0.2s ease;
}

.taskname{
    flex: 1;
    margin: 10px;
     word-wrap: break-word;
  overflow-wrap: break-word;
}

.delbut{
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    height: fit-content;
    background-color: red;
    color: white;
}
.editbut{
    margin: 10px;
     padding: 5px;
      border-radius: 10px;
      height: fit-content;
      background-color: blue;
      color: white;
}
.combut{
    margin: 10px;
     padding: 5px;
      border-radius: 10px;
      height: fit-content;
       color: white;
}
.buttons{
    display: flex;
    flex-direction: row;
}

.addbut{
    border-radius: 10px;
    padding: 8px 12px;
   background-color: lightgreen;
     color: black;
}

.addbut:hover,.combut:hover,.delbut:hover,.editbut:hover{
    transform: scale(1.05);
    cursor: pointer;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  opacity: 0.9;
}

.header{
    text-align: center;
    padding: 15px;
     background-color: #abb3b6;
    color: #fefefe;
    
}